body {
    font-family: 'Baskervville', serif;
    color: linen;
    background-color: rgb(20, 30, 40);
}

/* Header Section */

header{
    white-space: nowrap;
    overflow: hidden;
}

h1{
    text-align: center;
    color: orangered;
    font-size: 8rem;
    font-family: "Impact", sans-serif;
}

h3{
    font-size: 2.4rem;
    color: orangered;
    text-align: center;
}

/* Navigation Bar */

#nav-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5rem;
    padding: 0% 2%;
}

#by-line{
    font-size: 2rem;
    padding: 0;
    margin: 0;
    line-height: 0.5rem;
}

#author-link{
    line-height: 2rem;
}

#date{
    color:rgba(255, 255, 255, 0.5);;
}

#nav-bar_link{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
}

/* Content Section */

#content{
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
    gap: 9px;
    row-gap:3px;
    font-size: 1.8rem;
    
}

#content > *{
    margin:0px;
    padding: 0px;
}

.drop-cap{
    color:darkorange;
    font-size:48px;
    float:left;
    margin:4px; 
}

blockquote{
    margin:0px;
    padding: 0px;
}

.quote{
    color: #00beef;
    font-size: 2.4rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
   
}
